.repos h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.repos_container {
  background-color: rgb(240, 231, 243);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-wrap:initial;
  overflow: auto;
  gap: 1.2rem;
}
