.back_btn {
  position: absolute;
  top: 30rem;
  left: 70rem;
  padding: 0.5rem 1rem;
  color: #fdfdff;
  background-color: #090b14;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  opacity: 0.9;
}

.back_btn:hover {
  opacity: 1;
}


