* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: #f0c5c5;
}

body {
  background-color:aliceblue;
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}
